@import "mocha.css";

* {
    font-family: JetBrainsMono Nerd Font, FontAwesome;
    font-size: 16px;

}
#waybar {
    background: @base;
    color: @text;
}

#workspaces {
    background: @lavender;
}
#workspaces button {
    background: @lavender;
    color: @base;
}

#workspaces button.active{
    background: @flamingo;
    color: @base;
}

#workspaces button:hover {
    background: @red;
    color: @base;
}

#battery {
    color: @base;
    padding-left: 5px;
    padding-right: 5px;
}

#battery.max {
    background: @green;
}

#battery.dying {
    background: @red;
}

#battery.half {
    background: @yellow;
}

#pulseaudio {
    background: @sapphire;
    color: @base;
    padding-left: 5px;
    padding-right: 5px;
}

#pulseaudio.muted {
    background: @yellow;
}

#pulseaudio.bluetooth {
    background: @blue;
}

#tray {
    background: @red;
    padding-left: 10px;
    padding-right: 10px;
}

#network {
    padding-left: 5px;
    padding-right: 5px;
    background: @blue;
    color: @base;
}

#network.disconnected {
    background: red;
}
